{% extends "base.html" %}

{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block content %}
<header class="page-header">
    <h1 class="page-title">{{ category }}</h1>
</header>

<section class="posts">
    {% for article in articles %}
    <article class="post-item">
        <a href="{{ SITEURL }}/{{ article.url }}" class="post-link">
            <span class="post-date">{{ article.date.strftime('%Y-%m-%d') }}</span>
            <span class="post-title">{{ article.title }}</span>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}
